:root {
  --character-spacing--0-12: -0.12px;
  --character-spacing--0-28: -0.28px;
  --character-spacing--0-16: -0.16px;
  --character-spacing--0-18: -0.18px;
  --character-spacing--0-4: -0.4px;
  --character-spacing--0-72: -0.72px;
  --character-spacing--1-05: -1.05px;
  --character-spacing--1-44: -1.44px;
  --character-spacing--1-92: -1.92px;
  --character-spacing--2-4: -2.4px;
  --character-spacing--2-16: -2.16px;
  --character-spacing--0-32: -0.32px;
  --character-spacing--0-36: -0.36px;
  --character-spacing--1-8: -1.8px;

  --line-spacing-18: 18px;
  --line-spacing-20: 20px;
  --line-spacing-24: 24px;
  --line-spacing-26: 26px;
  --line-spacing-28: 28px;
  --line-spacing-30: 30px;
  --line-spacing-36: 36px;
  --line-spacing-44: 44px;
  --line-spacing-60: 60px;
  --line-spacing-72: 72px;
  --line-spacing-90: 90px;
}
