:root {
  --tertiary: #d94841;
  --primary-50: #f2feff;
  --primary-75: #d6f8fb;
  --primary-100: #baf3f7;
  --primary-200: #85e9ef;
  --primary-300: #58dee6;
  --primary-400: #36d1da;
  --primary-500: #1fc1ca;
  --primary-700: #109baa;
  --primary-800: #078699;
  --primary-900: #007187;
  --gray-900-text-content: #2c2c2c;
  --gray-800-text-content: #4b4b4b;
  --gray-700-text-content: #6e6e6e;
  --gray-600-placeholder-text: #8e8e8e;
  --gray-500-disabled-text: #b3b3b3;
  --gray-400: #cacaca;
  --gray-300: #e1e1e1;
  --gray-200: #eaeaea;
  --gray-100-base-bg: #f5f5f5;
  --gray-75: #fafafa;
  --gray-50: #ffffff;
  --input-border: #c3c3c3;
  --arrow-color: #838383;
  --unnamed-color-802f2d: #802f2d;
  --unnamed-color-c6a1cf: #c6a1cf;
  --unnamed-color-a05eb5: #a05eb5;
  --unnamed-color-f0b323: #f0b323;
  --unnamed-color-59cbe8: #59cbe8;
  --unnamed-color-0085ca: #0085ca;
  --unnamed-color-a72b2a: #a72b2a;
  --unnamed-color-e1523d: #e1523d;
  --unnamed-color-5a1e78: #5a1e78;
  --unnamed-color-ed8b00: #ed8b00;
  --unnamed-color-ffc72c: #ffc72c;
  --unnamed-color-00a3e0: #00a3e0;
  --secondary: #004b44;
  --primary-600-base: #1aaeb7;
  --unnamed-color-292929: #292929;
}
