@import "./colorPallet.module.css";
@import "./characters.module.css";
@import "./responsive.module.css";
@import "./fonts.module.css";
body {
  font-family: "Gotham-Book";
}

ul,
li {
  list-style: none;
}
/*container of div
/* .meals {
  width: 90%;
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 5rem;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
} */
