.Modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: white;
  z-index: 11;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.773);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.CloseModalButton {
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

.ModalContent {
  margin-top: 30px;
}
